<section class="border-n2/20 relative h-80 w-full overflow-hidden border-t lg:h-112.5">
	<div class="bg-n4/5 pointer-events-none absolute inset-0 z-10"></div>

	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d231.6783838259384!2d-47.27149272280233!3d-21.708388196689864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4f513e711be78a2b%3A0xaa3ce123229ac830!2sMaria%20Fernanda%20Vetere%20-%20Advogada!5e0!3m2!1spt-BR!2sbr!4v1776355558074!5m2!1spt-BR!2sbr"
		width="100%"
		height="100%"
		style="border: 0"
		allowfullscreen=""
		loading="lazy"
		referrerpolicy="no-referrer-when-downgrade"
		class="opacity-90 contrast-[1.1] grayscale-40 transition-all duration-700 hover:opacity-100 hover:grayscale-0">
	</iframe>
</section>
