<app-header />

<main class="min-h-screen">
	<router-outlet></router-outlet>
</main>

<app-footer />

<a
	href="https://wa.me/+5519994113652?text=Ol%C3%A1!%20Encontrei%20seu%20site%20e%20me%20identifiquei%20com%20seu%20trabalho.%20Gostaria%20de%20agendar%20um%20hor%C3%A1rio%20para%20conversar%20sobre%20meu%20caso.%20Qual%20a%20disponibilidade?"
	target="_blank"
	aria-label="WhatsApp"
	class="fixed right-2 bottom-2 z-20 flex size-14 animate-pulse items-center justify-center rounded-full bg-[#25D366] text-white transition-all hover:animate-none hover:bg-[#128C7E] hover:shadow-lg">
	<mat-icon class="size-7!" svgIcon="whatsapp_logo"></mat-icon>
</a>
