<header class="bg-light-fundo fixed top-0 right-0 left-0 z-50 shadow-md transition-all duration-300">
	<nav class="mx-auto flex h-19 max-w-6xl items-center justify-between px-4 sm:px-6 lg:px-8">
		<a href="#" class="flex items-center transition-opacity hover:opacity-80">
			<img src="/assets/logo/mfv-logo-ico-esc.png" alt="Ícone Balança Direito" class="h-17 w-auto" />

			<div class="font-antic text-light-n4 ml-2 inline-flex flex-col items-center" style="-webkit-text-stroke: 0.2px currentColor">
				<div class="text-xl leading-none whitespace-nowrap">DRA. MARIA FERNANDA</div>
				<div class="mt-1 flex w-full justify-between text-4xl leading-[0.8]">
					<span>V</span>
					<span>E</span>
					<span>T</span>
					<span>E</span>
					<span>R</span>
					<span>E</span>
				</div>
			</div>
		</a>

		<div class="hidden items-center space-x-6 md:flex">
			<a href="#solucoes" class="text-light-n3 hover:text-destaque font-medium transition-colors"> Home </a>
			<a href="#sobre" class="text-light-n3 hover:text-destaque font-medium transition-colors"> Sobre Mim </a>
			<a href="#servicos" class="text-light-n3 hover:text-destaque font-medium transition-colors"> Áreas de Atuação </a>
			<a href="#contato" class="text-light-n3 hover:text-destaque font-medium transition-colors"> Blog </a>
			<a href="#contato" class="text-light-n3 hover:text-destaque font-medium transition-colors"> Contato </a>

			<!-- <a href="#contato" class="bg-destaque font-display text-dark-n1 transform rounded-lg px-5 py-2.5 font-semibold shadow-sm transition duration-300 ease-in-out hover:-translate-y-0.5 hover:shadow-lg"> Agende sua consulta </a> -->
		</div>

		<div class="md:hidden">
			<button type="button" aria-label="Abrir menu" class="text-light-n4 hover:bg-light-n2 hover:text-light-fundo rounded-md p-2 transition-colors">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-6 w-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
				</svg>
			</button>
		</div>
	</nav>
</header>
