/* imports */
@use 'tailwindcss';
@plugin '@tailwindcss/typography';

/* set das fontes */
@font-face {
	font-family: 'Antic Didone';
	src: url('/assets/fonts/AnticDidone-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Black Gold';
	src: url('/assets/fonts/BlackGold-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* personalização dos estilos tailwind css */
@theme {
	--font-antic-didone: 'Antic Didone';
	--font-black-gold: 'Black Gold';
	--font-inter: 'Inter';
	--font-poppins: 'Poppins';

	--color-destaque-m: #572c1c;
	--color-destaque-l: #fff3ea;

	--color-n0: #fafafa;
	--color-n1: #f0edea;
	--color-n2: #d6ccc5;
	--color-n3: #7a6a64;
	--color-n4: #572c1c;

	/* Paleta CRATON Software */
	--color-cts-destaque: #c2410c;
	--color-cts-n0: #faf9f6;
	--color-cts-n1: #c7c4bf;
	--color-cts-n2: #918d8a;
	--color-cts-n3: #6f6b68;
	--color-cts-n4: #4d4a48;
	--color-cts-n5: #2d2a28;
	--color-cts-n6: #1a1716;
}

/* preset html base */
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--color-n1);
	color: var(--color-n3);
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
}
