/* imports */
@use 'tailwindcss';

/* set das fontes */
@font-face {
	font-family: 'Antic Didone';
	src: url('/assets/fonts/AnticDidone-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Black Gold';
	src: url('/assets/fonts/BlackGold-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* personalização dos estilos tailwind css */
@theme {
	--font-antic-didone: 'Antic Didone';
	--font-black-gold: 'Black Gold';
	--font-inter: 'Inter';
	--font-poppins: 'Poppins';

	--color-destaque: #572c1c;

	/* Padrão Light: Foco em Clarté e Autoridade */
	--color-light-fundo: #fafafa; /* Off-White puro: Limpo, moderno e leve */
	--color-light-n1: #f0edea; /* Bege acinzentado: Para divisórias sutis e hovers */
	--color-light-n2: #d6ccc5; /* Taupe: Para ícones e elementos que não devem brilhar */
	--color-light-n3: #7a6a64; /* Marrom Acinzentado: Texto secundário (leitura fluida) */
	--color-light-n4: #572c1c; /* O Marrom Destaque: Texto principal, Títulos e Botões */

	/* Padrão Dark: Foco em Luxo Noturno */
	--color-dark-fundo: #1c1310; /* "Black Chocolate": Quase preto, mas com alma marrom */
	--color-dark-n1: #fafafa; /* Texto Principal: Off-white para contraste máximo */
	--color-dark-n2: #fff3ea; /* O Creme original aqui vira o destaque suave de leitura */
	--color-dark-n3: #968178; /* Tom de transição para bordas no dark mode */
	--color-dark-n4: #572c1c; /* Superfícies e Cards: O marrom de destaque */
}

/* preset html base */
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--color-light-fundo);
	color: var(--color-light-n3);
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
}
